<%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>

<section class="container">
  <div class="home__title-container">
    <h1 class="home__title">FinanceBuddy</h1>
  </div>
  <%= link_to "Log in", new_user_session_path, class: 'link link--blue' %>
  <%= link_to "Sign up", new_user_registration_path, class: 'link' %>
</section>
