a:not(.navbar a) {
  color: #b0b5b9;
  display: block;
  width: max-content;
  margin-inline: auto;
  text-decoration: none;
  margin-bottom: 0.4rem;
}

.field--checkbox {
  margin-bottom: 1.5rem;
  padding-inline: 1rem;
}
